<div class="row-fluid">
  <div class="container">
    <h1>Tasks</h1>

    <%= @tasks.each do |task| %>
      <%= task.name %><br>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(".nav-tabs li").removeClass("active");
  $(".nav-tabs li")[2].className += "active";
</script>