// Place all the styles related to the counter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 100%;
  line-height: 1.6875;
}

.record {
  cursor:pointer;
  color: green;
}

.time-info {
  padding-left: 50px;
  margin-bottom: 40px;
}

.remove-item {
  margin-left: 30px;
  margin-right: 10px;
  display: inline;
  float: right;
}

.add-item {
  margin-left: 30px;
  display: inline;
}

ul {
  margin-bottom: 20px;
}

.add-item-form {
  display: none;
  padding: 0px 30px 0px 0px;
  margin: 0px 0px 0px 30px;
}

.stop-record {
  cursor:pointer;
  color: green;
}

.today-seconds {
  display: none;
}

.week-seconds {
  display: none;
}

#today-time {
  display: inline;
}

#week-time {
  display: inline;
}

.hide-item {
  padding: 0px 0px 0px 0px;
  margin:  0px 0px 0px 5px;
}

.create-item-button {
  margin-top: -10px;
}

.nav-tabs a {
  color: #666;
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 80%;
  }

  .time-info {
    margin-left: -30px;
    margin-bottom: 20px;
  }

  .time-info h3 {
    font-size: 1.5em;
  }
}