// Place all the styles related to the counter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.record {
  cursor:pointer;
  color: green;
}

.time-info {
  padding-left: 55px;
  margin-bottom: 40px;
}

.remove-item {
  margin-left: 30px; 
  margin-right: 10px; 
  display: inline;
}

.add-item {
  margin-left: 30px; 
  display: inline;
}

ul {
  margin-bottom: 20px;
}

.add-item-form {
  display: none;
  padding-left: 30px;
  margin-top: 30px;
}

.remove-item {
  float: right;
}

.stop-record {
  cursor:pointer;
  color: green;
}

.today-seconds {
  display: none;
}

#week-seconds {
  display: none;
}

#today-time {
  display: inline;
}

#week-time {
  display: inline;
}

.hide-item {
  display: none;
  padding-left: 32px;
}