<div class="hero-unit">
  <h1> !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! </h1>
  <div class="muted">
    "El que vive sin disciplina muere sin honor" -
    <a href="https://www.github.com/tille" class="muted">T!ll3</a>
  </div>
</div>