<div class="hero-unit" style="padding-top: 30px;">
  <h1> !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! !ˆˆ! </h1>
  <div class="muted">
    "El que vive sin disciplina muere sin honor" -
    <a href="https://www.github.com/tille" class="muted">T!ll3</a>

    <% if user_signed_in? %>
      <div class="navbar">
        <%= current_user.email %> |
        <%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "muted" %>
      </div>
    <% end %>

  </div>
</div>

<% if user_signed_in? %>
  <ul class="nav nav-tabs">
    <li><a href="#">Check week progress</a></li>
    <li class="active">
      <a href="#">Items section</a>
    </li>
    <li><a href="#">free tracking section</a></li>
    <li><a href="#">pending priority tasks</a></li>
  </ul><br>
<% end %>